NEXT_PUBLIC_SUPABASE_PROJECT_URL="--supabase_project_url--"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="--supabase_publishable_key--"
SUPABASE_SECRET_KEY="--supabase_secret_key--"
# CRON_SECRET="--set_in_vercel--"