NEXT_PUBLIC_SUPABASE_PROJECT_URL="--supabase_project_url--"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="--supabase_publishable_key--"
SUPABASE_SECRET_KEY="--supabase_secret_key--"

NEXT_PUBLIC_STRAVA_CLIENT_ID="1234"
STRAVA_CLIENT_SECRET="1234asdf1234asdf1234asdf1234asdf1234asdf"
STRAVA_COOKIE="_strava4_session=1234asdf1234asdf1234asdf1234asdf;";

NEXT_PUBLIC_STRAVA_ID="1234"
NEXT_PUBLIC_STRAVA_ID_DENYLIST="1234, 5678"

# CRON_SECRET="--set_in_vercel--"